
/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }


  :root {
    --clr-dark: hsl(240, 9%, 13%);
    --clr-dark-red: hsl(4, 75%, 37%);
    --clr-light: hsl(32, 100%, 97%);
  }


  body {
    --clr-bg: var(--clr-light);
    --clr-primary: var(--clr-dark-red);
    --clr-accent: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-primary);

    &:is(.dark) {
      --clr-bg: var(--clr-dark);
      --clr-primary: var(--clr-light);
      --clr-accent: var(--clr-dark-red);
    }
  }

  .container {
    max-width: 70rem;
    padding-inline: 64px;
    margin-inline: auto;
    padding-block: 40px;
    text-align: center;

    @media (width > 55rem) {
      padding-inline: 16px;
    }
  }

  .btn {
    --btn-bg-clr: var(--clr-bg);
    --btn-text-clr: var(--clr-primary);
    --btn-outline-clr: var(--clr-primary);
    border: transparent;
    background-color: var(--btn-bg-clr);
    color: var(--btn-text-clr);
    border-radius: 20px;
    padding: .5em 2em;
    cursor: pointer;
    font-weight: 600;
    outline: 2px solid var(--btn-outline-clr);
    transition: all 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
      --btn-bg-clr: var(--clr-primary);
      --btn-text-clr: var(--clr-bg);
      --btn-outline-clr: var(--clr-primary);
    }
  }

  .heading {
    margin-block: 40px;
  }

  
  .dices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 50px;
  }

  .dice {
    aspect-ratio: 1;
    background-color: var(--clr-primary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 20px 12px 2px rgba(0,0,0,0.25);
    transition: all 500ms ease-in-out;
    cursor: pointer;

    &:is(:hover) {
      rotate: 15deg;
      transform: scale(1.05);
    }
  }

  .dot {
    background-color: var(--clr-accent);
    border-radius: 50%;
  }

  .dice-1 {
    .dot:nth-child(1) {
        grid-column: 2;
        grid-row: 2;
    }
  }


  .dice-2 {
    .dot:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .dot:nth-child(2) {
        grid-column: 3;
        grid-row: 3;
    }
  }


  .dice-3 {
    .dot:nth-child(1) {
        grid-column: 1;
        grid-row: 3;
    }

    .dot:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .dot:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }
  }


  .dice-4 {
    .dot:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .dot:nth-child(2) {
        grid-column: 1;
        grid-row: 3;
    }

    .dot:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    .dot:nth-child(4) {
        grid-column: 3;
        grid-row: 3;
    }
  }

  .dice-5 {
    .dot:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    
    .dot:nth-child(2) {
        grid-column: 1;
        grid-row: 3;
    }
    
    .dot:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }
    
    .dot:nth-child(4) {
        grid-column: 3;
        grid-row: 1;
    }
    
    .dot:nth-child(5) {
        grid-column: 3;
        grid-row: 3;
    }
  }


  .dice-6 {
    .dot:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .dot:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    .dot:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    .dot:nth-child(4) {
        grid-column: 3;
        grid-row: 1;
    }
    .dot:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }
    .dot:nth-child(6) {
        grid-column: 3;
        grid-row: 3;
    }
  }
  